*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tutto{
    height: 130vh;
    width: 100%;
    border: 3px solid black;
    position: relative;
}

/* barre s d */
.tutto-barre{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.barra-sinistra{
    flex-grow: 1;
    background-color: brown;
}
.barra-destra{
    flex-grow: 5;
    background-color: burlywood;
}

/* barre s s */
.barra-sopra{
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: rgb(71, 40, 0);
}

.barra-sotto{
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: chartreuse;
}